
body{
    background-color: aquamarine;
}







header{
    border: solid 2px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




#ejercicio-2{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ejercicio-3{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ejercicio-4{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


#ejercicio-5{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ejercicio-6{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ejercicio-7{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ejercicio-8{
    border: solid 2px red;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}